.DS_STORE
.env
.dev.vars
.turbo
runs
node_modules
package-lock.json
examples/*/build/**
packages/*/build/**
packages/*/coverage/**
packages/*/dist/**
tools/*/build/**
tools/*/coverage/**
tools/*/dist/**
.favorites.json