html,
body,
#__next {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #0b1220 0%, #202a42 100%);
}

.chat-textarea {
  &:focus {
    outline: solid rgba(255, 255, 255, 0.8) 1px;
    border: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
