html,
body,
#__next {
  height: 100%;
}

.table {
  background: #654321;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  background-color: #faebd7;
  padding: 2rem;
  border: 1px solid #deb887;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  max-width: 80%;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
